body, html {
  padding-top: 19px;
  height: 100%;  
  background-color: #646464; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover:not(.active) {
  background-color: #111;
}

ul li a.active {
  background-color: #04AA6D;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: auto;
  margin-top: 50px;
}

.two-column img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s;
}

.banner {
  background-image: url(Images/kaitiakitange.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}